
.container
{
    display:flex;
    flex-direction: row;
    background:linear-gradient(to bottom,#12c2e9,#c471ed,#f64f59);    
    justify-content: space-evenly;
    flex-wrap:wrap ;
    padding:50px;

}
.item
{
  font-family: chiller;
  background-color:darkkhaki;
  padding: 25px;
}

.grid-container
{
    display:grid;
    grid-template-columns: repeat(2,2fr ) ;
    padding:75px;
    background:linear-gradient(to bottom,#06142E,#1B3358,#473E66,#BD83B8,#F5D7DB,#F1916D);    
}
.grid-item
{
    padding:30px;
    background-color:#473E66;
    text-align: center;
    margin:10px;
    border:1.5px solid black;
}

